In [1]:
import pandas as pd
import numpy as np

In [2]:
obj = pd.Series(range(3),index = ['a','b','c'])
index = obj.index
index

Index(['a', 'b', 'c'], dtype='object')

In [3]:
index[1:]

Index(['b', 'c'], dtype='object')

In [ ]:
# Index对象是不可变的，因此用户不能对其进行修改
index[1] = 'd'

In [8]:
labels = pd.Index(np.arange(3))
labels

Int64Index([0, 1, 2], dtype='int64')

In [11]:
obj2 = pd.Series([1.5,2.5,0],index = labels)
obj2

0    1.5
1    2.5
2    0.0
dtype: float64

In [12]:
obj.index is labels

True

In [13]:
pop = {
    'Nevade':{2001:2.4,2002:2.9},
    'Ohio':{2000:1.5,2001:1.7,2002:3.6}
      }
frame3 = pd.DataFrame(pop)
frame3

      Nevade  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5

In [14]:
frame3.columns

Index(['Nevade', 'Ohio'], dtype='object')

In [16]:
'Ohio' in frame3.columns

True

In [18]:
2003 in frame3.index

False

In [19]:
dup_label = pd.Index(['foo','foo','bar','bar'])
dup_label

Index(['foo', 'foo', 'bar', 'bar'], dtype='object')