In [1]:
import pandas as pd
from pyecharts.charts import *
import pyecharts.options as opts

In [2]:
from pyecharts.globals import CurrentConfig, NotebookType
CurrentConfig.NOTEBOOK_TYPE = NotebookType.JUPYTER_LAB

### 读取数据

In [3]:
df = pd.read_csv('中国大学综合排名2021.csv',encoding = 'gb2312')    # gb2312保证不乱码
df.head()

,排名,升/降,学校名称,英文名称,省市,类型,总分,办学层次,学科水平,办学资源,师资规模与结构,人才培养,科学研究,服务社会,学术人才,重大项目与成果,国际竞争力
0,1,0.0,清华大学,Tsinghua University,北京,综合,969.2,37.9,74.3,39.4,48.7,343.0,88.0,37.9,90.8,129.1,80.1
1,2,0.0,北京大学,Peking University,北京,综合,855.3,36.1,72.9,25.9,49.2,315.7,88.0,12.8,92.6,102.9,59.2
2,3,0.0,浙江大学,Zhejiang University,浙江,综合,768.7,34.3,65.4,21.8,47.7,285.7,91.4,32.2,67.7,79.4,42.9
3,4,0.0,上海交通大学,Shanghai Jiao Tong University,上海,综合,723.4,35.5,53.1,21.6,44.9,260.0,98.2,18.8,65.1,86.8,39.2
4,5,0.0,南京大学,Nanjing University,江苏,综合,654.8,35.1,47.9,10.8,48.1,272.0,72.4,4.9,61.2,72.0,30.4

### 查看数据类型

In [4]:
df.dtypes

排名           int64
升/降        float64
学校名称        object
英文名称        object
省市          object
类型          object
总分         float64
办学层次       float64
学科水平       float64
办学资源       float64
师资规模与结构    float64
人才培养       float64
科学研究       float64
服务社会       float64
学术人才       float64
重大项目与成果    float64
国际竞争力      float64
dtype: object

### 参看数据描述

In [5]:
df.describe()    # 查看数据是否有缺失：“排名”有582条，而“升/降”只有562条，其余只有100条，存在数据缺失

,排名,升/降,总分,办学层次,学科水平,办学资源,师资规模与结构,人才培养,科学研究,服务社会,学术人才,重大项目与成果,国际竞争力
count,582.000000,566.000000,582.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000
mean,291.347079,-2.886926,169.319244,29.993000,27.642000,7.365000,39.689000,165.487000,33.595000,7.666000,16.68700,20.596000,18.963000
std,168.058284,28.047203,113.628205,3.277233,12.299061,5.662733,4.674515,48.212911,19.312279,7.426233,17.88975,21.706536,10.331433
min,1.000000,-82.000000,58.200000,23.400000,6.000000,2.200000,29.500000,98.800000,12.100000,0.000000,2.00000,1.200000,8.100000
25%,146.250000,-19.000000,97.925000,27.675000,19.775000,3.875000,36.600000,128.150000,19.550000,2.375000,6.20000,7.175000,13.000000
50%,291.500000,-2.000000,132.400000,29.900000,23.800000,5.500000,38.550000,149.800000,27.150000,5.500000,10.50000,13.650000,15.750000
75%,436.750000,9.000000,194.675000,32.225000,33.750000,9.250000,43.275000,191.525000,42.000000,10.350000,19.42500,23.550000,22.525000
max,582.000000,130.000000,969.200000,40.000000,74.300000,39.400000,50.500000,343.000000,98.200000,37.900000,92.60000,129.100000,80.100000

### 查看表格缺失数据

In [6]:
df.isnull().sum()

排名           0
升/降         16
学校名称         0
英文名称         0
省市           0
类型           0
总分           0
办学层次       482
学科水平       482
办学资源       482
师资规模与结构    482
人才培养       482
科学研究       482
服务社会       482
学术人才       482
重大项目与成果    482
国际竞争力      482
dtype: int64

### 填充某一列的缺失数据

In [7]:
df['升/降'].fillna(0, inplace= True)
df.isnull().sum()

排名           0
升/降          0
学校名称         0
英文名称         0
省市           0
类型           0
总分           0
办学层次       482
学科水平       482
办学资源       482
师资规模与结构    482
人才培养       482
科学研究       482
服务社会       482
学术人才       482
重大项目与成果    482
国际竞争力      482
dtype: int64

### 填充所有列的数据

In [8]:
df.fillna(0,inplace = True)
df.isnull().sum()

排名         0
升/降        0
学校名称       0
英文名称       0
省市         0
类型         0
总分         0
办学层次       0
学科水平       0
办学资源       0
师资规模与结构    0
人才培养       0
科学研究       0
服务社会       0
学术人才       0
重大项目与成果    0
国际竞争力      0
dtype: int64

In [9]:
df.describe()

,排名,升/降,总分,办学层次,学科水平,办学资源,师资规模与结构,人才培养,科学研究,服务社会,学术人才,重大项目与成果,国际竞争力
count,582.000000,582.00000,582.000000,582.000000,582.000000,582.000000,582.000000,582.000000,582.000000,582.000000,582.000000,582.000000,582.000000
mean,291.347079,-2.80756,169.319244,5.153436,4.749485,1.265464,6.819416,28.434192,5.772337,1.317182,2.867182,3.538832,3.258247
std,168.058284,27.66235,113.628205,11.404365,11.605604,3.632635,15.108292,65.572676,14.980980,4.215933,9.707016,11.863912,8.333417
min,1.000000,-82.00000,58.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,146.250000,-18.00000,97.925000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,291.500000,-1.00000,132.400000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,436.750000,8.00000,194.675000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,582.000000,130.00000,969.200000,40.000000,74.300000,39.400000,50.500000,343.000000,98.200000,37.900000,92.600000,129.100000,80.100000

### 统计所有排名未改变的学校

In [10]:
type(df[df['升/降'] == 0])

pandas.core.frame.DataFrame

In [11]:
df[df['升/降'] == 0].head()

,排名,升/降,学校名称,英文名称,省市,类型,总分,办学层次,学科水平,办学资源,师资规模与结构,人才培养,科学研究,服务社会,学术人才,重大项目与成果,国际竞争力
0,1,0.0,清华大学,Tsinghua University,北京,综合,969.2,37.9,74.3,39.4,48.7,343.0,88.0,37.9,90.8,129.1,80.1
1,2,0.0,北京大学,Peking University,北京,综合,855.3,36.1,72.9,25.9,49.2,315.7,88.0,12.8,92.6,102.9,59.2
2,3,0.0,浙江大学,Zhejiang University,浙江,综合,768.7,34.3,65.4,21.8,47.7,285.7,91.4,32.2,67.7,79.4,42.9
3,4,0.0,上海交通大学,Shanghai Jiao Tong University,上海,综合,723.4,35.5,53.1,21.6,44.9,260.0,98.2,18.8,65.1,86.8,39.2
4,5,0.0,南京大学,Nanjing University,江苏,综合,654.8,35.1,47.9,10.8,48.1,272.0,72.4,4.9,61.2,72.0,30.4

### 统计前50名中排名下降的学校

In [12]:
df.loc[(df['排名'] < 50) & (df['升/降'] < 0),:]    # loc的用法：loc检索行，第一个参数是行，第二个参数是列

,排名,升/降,学校名称,英文名称,省市,类型,总分,办学层次,学科水平,办学资源,师资规模与结构,人才培养,科学研究,服务社会,学术人才,重大项目与成果,国际竞争力
11,12,-2.0,中山大学,Sun Yat-Sen University,广东,综合,519.3,30.9,46.7,13.7,48.3,194.6,74.0,8.4,37.8,31.4,33.3
14,15,-2.0,北京航空航天大学,Beihang University,北京,理工,513.8,32.8,33.9,11.1,42.6,221.4,46.1,20.7,26.7,54.7,23.8
15,16,-1.0,同济大学,Tongji University,上海,理工,508.3,33.2,40.3,12.2,43.9,221.0,58.9,12.5,29.1,35.0,22.1
19,20,-1.0,南开大学,Nankai University,天津,综合,465.3,31.5,35.2,9.2,45.5,216.0,44.3,2.4,29.1,27.3,24.9
21,22,-1.0,天津大学,Tianjin University,天津,理工,444.3,32.7,33.5,8.5,45.2,198.1,45.0,13.4,22.7,23.4,21.8
25,26,-3.0,厦门大学,Xiamen University,福建,综合,427.8,32.7,36.7,9.4,41.6,184.6,46.5,4.8,25.3,23.1,23.1
26,27,-2.0,华南理工大学,South China University of Technology,广东,理工,419.8,30.5,33.7,9.4,42.7,183.1,41.7,12.1,18.5,21.9,26.3
27,28,-1.0,大连理工大学,Dalian University of Technology,辽宁,理工,418.2,30.2,31.0,6.4,42.9,190.5,42.9,9.0,16.4,32.2,16.8
31,32,-1.0,湖南大学,Hunan University,湖南,综合,393.5,31.4,29.4,5.8,39.5,176.6,35.7,9.3,16.8,22.6,26.4
36,37,-1.0,南京理工大学,Nanjing University of Science and Technology,江苏,理工,356.0,30.9,24.2,3.2,40.0,173.5,26.5,14.3,8.3,18.9,16.2
41,42,-3.0,华中农业大学,Huazhong Agricultural University,湖北,农业,338.5,28.5,27.4,4.8,38.0,156.5,34.0,1.5,14.5,17.1,16.0
43,44,-6.0,苏州大学,Soochow University (China),江苏,综合,327.0,28.7,31.2,5.8,41.2,120.0,33.2,8.1,14.4,16.8,27.8
44,45,-3.0,华东理工大学,East China University of Science and Technology,上海,理工,324.5,29.7,20.2,5.5,39.3,149.8,29.7,7.5,13.1,13.6,16.0
45,46,-2.0,华中师范大学,Central China Normal University,湖北,师范,322.0,30.6,26.0,5.0,37.9,149.8,28.8,0.2,11.7,12.8,19.3

### 统计各省大学数量

In [13]:
# groupby详解：https://zhuanlan.zhihu.com/p/101284491
g = df.groupby('省市')  # groupby函数：将原有的DataFrame按照字段拆分成若干个分组DataFrame

In [14]:
type(g)

pandas.core.groupby.generic.DataFrameGroupBy

In [15]:
df_counts = g.count()['排名']
df0 = df_counts.copy()
df0.sort_values(ascending = False, inplace = True)
df0

省市
江苏     38
山东     33
河南     31
河北     28
北京     27
辽宁     27
陕西     26
四川     26
湖南     25
湖北     25
浙江     25
广东     25
安徽     24
江西     22
黑龙江    19
吉林     18
上海     18
山西     17
福建     17
云南     16
广西     15
贵州     13
甘肃     12
内蒙古    12
新疆     11
天津     11
重庆     11
海南      4
宁夏      2
西藏      2
青海      2
Name: 排名, dtype: int64

### 各省大学平均分排序

In [16]:
df_means0 = g.mean()['总分']
df_means = df_means0.round(2)  # round(2) 保留2位小数
df1 = pd.concat([df_counts,df_means], join = 'outer',  axis = 1)   # concat
df1.columns = ['数量','平均分']
df1.sort_values(by = ['平均分'], ascending = False, inplace = True)
df1

     数量     平均分
省市
北京   27  333.61
上海   18  286.61
江苏   38  215.17
天津   11  214.79
湖北   25  206.57
陕西   26  191.44
广东   25  190.71
浙江   25  184.38
重庆   11  173.46
辽宁   27  163.20
黑龙江  19  161.19
福建   17  159.42
四川   26  159.22
山东   33  157.97
青海    2  155.85
吉林   18  155.02
湖南   25  153.84
安徽   24  152.82
甘肃   12  139.54
宁夏    2  137.70
西藏    2  135.40
河南   31  127.99
江西   22  127.24
海南    4  127.12
河北   28  118.24
云南   16  115.86
广西   15  115.59
内蒙古  12  115.29
新疆   11  111.44
贵州   13  108.94
山西   17  108.44

### 各省市大学数量和平均分柱状图

In [17]:
df1.sort_values(by = ['平均分'], ascending = False, inplace = True)
d1 = df1.index.tolist()
d2 = df1['数量'].values.tolist()
d3 = df1['数量'].values.tolist()


bar0 = (
    Bar()
    .add_xaxis(d1)
    .add_yaxis('数量',d2)
    .add_yaxis('平均分数',d3)
    .set_global_opts(
        title_opts = opts.TitleOpts(title = '中国大学排名'),
        yaxis_opts = opts.AxisOpts(name = '量'),
        xaxis_opts = opts.AxisOpts(name = '省份')
    )
)
bar0.load_javascript()

In [20]:
bar0.render_notebook()

### 各省市大学数量地图分布

In [21]:
name = df0.index.tolist()  # 省份
count = df0.values.tolist()  # 各省的数量
m = (
    Map()
    .add('', [list(z) for z in zip(name,count)],'china')
    .set_global_opts(
        title_opts = opts.TitleOpts(title = '中国大学排名'),
        visualmap_opts = opts.VisualMapOpts(max_ = 40, split_number=8, is_piecewise=True)
    )
)

m.load_javascript()

In [22]:
m.render_notebook()