In [2]:
%run py_import.py

In [7]:
obj = pd.Series([4.5,7.2,-5.3,3.6],index = ['d','b','a','c'])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [8]:
# reindex会根据索引重排，如果索引不存在，则引入缺失值
obj2 = obj.reindex(['a','b','c','d','e'])
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [13]:
obj3 = pd.Series(['blue','purple','yellow'], index = [0,2,4])
obj3

0      blue
2    purple
4    yellow
dtype: object

In [17]:
print(obj3.reindex(range(6)))
print('\n')
print(obj3.reindex(range(6),method = 'ffill'))    # ffill会将值前向填充

0      blue
1       NaN
2    purple
3       NaN
4    yellow
5       NaN
dtype: object


0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [20]:
frame = pd.DataFrame(np.arange(9).reshape((3,3)),
                     index = ['a','c','d'],
                     columns = ['Ohio','Texas','California'])
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [21]:
frame2 = frame.reindex(['a','b','c','d'])
frame2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [22]:
states = ['Texas','Utah','California']
frame.reindex(columns = states)

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [36]:
# 使用loc进行标签索引,新版本无法在参数中填写不存在的index或者columns
frame.loc[['a','c','d'],['Ohio','Texas','California']]

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8