In [1]:
%run py_import.py

In [2]:
obj = pd.Series(range(5), index = ['a','a','b','b','c'])
obj

a    0
a    1
b    2
b    3
c    4
dtype: int64

In [3]:
obj.index.is_unique   # is_unique：判断值是否是唯一的

False

In [4]:
obj['a']

a    0
a    1
dtype: int64

In [5]:
df = pd.DataFrame(np.random.randn(4,3),index = ['a','a','b','b'])
df

          0         1         2
a -0.736494 -0.518131  1.567131
a  0.405519  0.978198  1.288532
b  1.011184 -0.432365 -0.927265
b -1.249257  1.167912  1.244390

In [12]:
df.loc['a']

          0         1         2
a -0.736494 -0.518131  1.567131
a  0.405519  0.978198  1.288532

In [14]:
df.loc[:,1]  # loc方括号第一个参数是行，第二个参数是列

a   -0.518131
a    0.978198
b   -0.432365
b    1.167912
Name: 1, dtype: float64