In [1]:
%run py_import.py

In [2]:
df = pd.DataFrame([[1.4,np.nan],[7.1,-4.5],[np.nan,np.nan],[0.75,-1.3]],
                  index = list('abcd'),columns = ['one','two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [3]:
df.sum()   # 默认是列内数据相加

one    9.25
two   -5.80
dtype: float64

In [4]:
# df.sum(axis = 1)
df.sum(axis = 'columns')  # 一行上面的各个列的数据的值相加

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [5]:
df.mean(axis = 'columns',skipna = False)   # 值的平均数，默认skipna是True，排除NaN值

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [6]:
df.idxmax()   # 返回列上最大值的索引

one    b
two    d
dtype: object

In [7]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [8]:
df.cumsum()  # 列上数据累加，如：8.5 = 1.4 + 7.1

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [9]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [10]:
obj = pd.Series(['a','a','b','c'] * 4)
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object

In [12]:
obj.count()

16

### 唯一值、计数和成员属性

In [14]:
obj1 = pd.Series(list('cadaabbcc'))
obj1

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [41]:
uniques = obj1.unique()     # 给出Series里面的唯一值
uniques

array(['c', 'a', 'd', 'b'], dtype=object)

In [26]:
obj1.value_counts()     # 计算Series包含值的个数

a    3
c    3
b    2
d    1
dtype: int64

In [27]:
pd.value_counts(obj1.values, sort = False)

a    3
d    1
c    3
b    2
dtype: int64

In [28]:
mask = obj1.isin(['b','c'])
mask

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [43]:
obj1[mask]

0    c
5    b
6    b
7    c
8    c
dtype: object

In [45]:
to_match = pd.Series(list('cabbca'))
unique_vals = pd.Series(['c','b','a'])
pd.Index(unique_vals).get_indexer(to_match)

array([0, 2, 1, 1, 0, 2], dtype=int64)