In [1]:
%run py_import.py

In [2]:
frame = pd.read_csv('examples/ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [3]:
frame.to_pickle('examples/frame_pickle')

In [4]:
pd.read_pickle('examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

pickle仅被推荐作为短期的存储格式，问题在于pickle很难确保格式的长期有效性

**读取EXCEL文件**

In [5]:
xlsx = pd.ExcelFile('examples/ex1.xlsx')

In [6]:
pd.read_excel(xlsx,'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [7]:
frame = pd.read_excel('examples/ex1.xlsx','Sheet1')
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [8]:
writer = pd.ExcelWriter('examples/ex2.xlsx')

In [ ]:
frame.to_excel(writer,'Sheet1')
writer.save()
writer.close()

In [10]:
pd.read_excel('examples/ex2.xlsx')

   Unnamed: 0  Unnamed: 0.1  a   b   c   d message
0           0             0  1   2   3   4   hello
1           1             1  5   6   7   8   world
2           2             2  9  10  11  12     foo