In [7]:
import numpy as np

In [8]:
data = np.random.randint(0,10,size = (3,5))
data

array([[3, 7, 6, 0, 1],
       [4, 5, 6, 3, 8],
       [9, 8, 9, 2, 0]])

In [9]:
data = data.astype(np.float32)
data[0,1] = np.NAN
data

array([[ 3., nan,  6.,  0.,  1.],
       [ 4.,  5.,  6.,  3.,  8.],
       [ 9.,  8.,  9.,  2.,  0.]], dtype=float32)

In [12]:
np.NAN != np.NAN   # NAN和NAN不相等

True

In [13]:
data[0,1] * 2    #NAN和任何值计算结果都是NAN

nan

In [17]:
data[1,2] = np.NAN
data

array([[ 3., nan,  6.,  0.,  1.],
       [ 4.,  5., nan,  3.,  8.],
       [ 9.,  8.,  9.,  2.,  0.]], dtype=float32)

In [19]:
# 删除NAN值
np.isnan(data)  #判断NANA值位置
data[~np.isnan(data)]

array([3., 6., 0., 1., 4., 5., 3., 8., 9., 8., 9., 2., 0.], dtype=float32)

In [23]:
lines = np.where(np.isnan(data))[0]
np.delete(data,lines,axis = 0)

array([[9., 8., 9., 2., 0.]], dtype=float32)

In [33]:
scores = np.loadtxt('nan_scores.csv',delimiter = ',',skiprows = 1,encoding = 'utf-8',dtype = str) #先转换成字符串
scores[scores == ""] = np.NAN   # 空值转换成NAN
scores1 = scores.astype(np.float16)
scores1[np.isnan(scores1)] = 0  # 除了delete用axis=0表示行以外，其他大部分函数都是axis=1表示行
scores1.sum(axis = 1)

array([148. , 122. , 123.5,  34. ,  56. ,  79. ], dtype=float16)

In [40]:
scores2 = scores.astype(np.float16)
# scores2.shape[1]
for x in range(scores2.shape[1]):
    col = scores2[:,x]
    non_nan_col = col[~np.isnan(col)]
    mean = non_nan_col.mean()
    col[np.isnan(col)] = mean
scores2

array([[59. , 89. ],
       [90. , 32. ],
       [78. , 45.5],
       [34. , 55.7],
       [56.8, 56. ],
       [23. , 56. ]], dtype=float16)

# 总结：
1. NAN：Not A Number的简写，属于浮点类型，不是一个数字
2. INF：无限大，除0的情况下会出现INF
3. NAN和所有的值计算结果都是NAN
4. NAN不等于NAN
5. 可以通过np.isnan来判断某个值是不是NAN
6. 处理值的时候，可以通过删除NAN的形式进行处理，可以通过值的替换进行处理
7. np.delete比较特殊，通过axis = 0来代表行，其他的大部分函数通过axis = 1 代表行